<html>
    <head>
        <title>Бар "у Дяди Роди"</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Приветствую тебя за стойкой</a></h1>
        </div>

        <div>
            <p>10.04.2020</p>
            <h2><a href="">Какое пиво ты любишь?</a></h2>
            <p>Приветствую тебя за барной стойкой! Какое пиво сегодня выпьем?</p>
        </div>

        <div>
            <p>10.04.2020</p>
            <h2><a href="">Может виски?</a></h2>
            <p>Шотландский или Ирладский? Купажированный или односолодовый?</p>
        </div>
    </body>
</html>