h1 a {
    color: #FFFFFF;
    font-family: 'Lobster';
}

body {
    background-image: url(img/curls.png);
    background-color: #c7b39b;
    padding-left: 15px;
    color: #ffffff;
}
.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive; color: #ffffff;
}

.date {
    color: #FBFBFB;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%; color: #ffffff;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}


.post h1 a, .post h1 a:visited {
    color: #FFFFFF;
}
